<footer>
    <hr class="mb-3">

    <div class="grid-footer">
        <div class="contact"><a href="#">CONTACT</a></div>
        <div class="more"><a href="#">LEARN MORE</a></div>
        <div class="newsleter"><a href="#">NEWSLETER</a></div>
    </div>

</footer>