<%layout('layouts/principal')%>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/about.css">

    <div class="container m-5">
        <h1>We are working here :)
        </h1>
    </div>