<%layout('layouts/principal')%>
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/shoppingCart.css">
    <div class="sections">
        <div class="container justify-content-center form ">
            <h1 class="m-5 text-start ">BRAND</h1>

            <form class="mx-5" action="">
                <label class="form-label" for="fname"></label>
                <input class="form-control" type="text" name="fname" id="fname" placeholder="First name">
                <label class="form-label" for="lname"></label>
                <input class="form-control" type="text" name="lname" id="lname" placeholder="Last name">
                <label class="form-label" for="email"></label>
                <input class="form-control" type="text" name="email" id="email" placeholder="E-mail">
                <label class="form-label" for="password"></label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">
                <button id="button" class="btn btn-outline-secondary mt-3 ">Log in</button>
            </form>
        </div>
        <div>
            <div class="products-added mt-5">

                <h1 class="ml-3">Products:</h1>
                <div class="card m-3">
                </div>
            </div>
            <hr class="mt-2">
            <p class="m-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste repudiandae illum enim itaque. Non nihil officiis ipsam libero ullam nisi quo minima, pariatur eveniet asperiores ex nulla rem magni inventore!</p>
        </div>
    </div>